.friendListWrapper {
  display: flex;
  flex-direction: column;
  
  /* new csss */
  /* background: #fff; */
  flex-grow: 0.2;
  flex-shrink: 1;
  /* height: 50vh; */
  box-sizing: border-box;
 
  /* border-radius: 4px; */
  /* overflow-y: scroll; */
  
}

.noFriendText {
  font-size: medium;
}
.friendListRow {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.emailText {
  margin-left: 5px;
  font-size: medium;
}
