.friendListWrapper {
  display: flex;
  flex-direction: column;
  
  flex-grow: 0.2;
  flex-shrink: 1;
  
  box-sizing: border-box;
 
  /* border-radius: 4px; */
  overflow-y: scroll none;
  
}
.emailLink{
  text-decoration: none;
}
.noFriendText {
  font-size: 16px;
}
.friendListRow {
  /* padding: 10px; */
  display: flex;
  margin: 15px 25px 0px 25px;
  
  align-items: center;
}
.emailText {
  margin-left: 18px;
  font-size: 14px;
  
}
